<!-- <div class="discount-flag">
  <p>{{ shop.metafields.shop_announcement.shop_announcement }}</p>
  <p>Free Shipping on all Deodorants!</p>
</div> -->
<div class="banner">{{ pages.banner.content }}</div>
{{ content_for_index }}
