<div class="rte">
  <h1 class="collection-title">Store Locator</h1>
    {{ page.content }}
</div>

<div class="grid">
  <h2>Online Retailers</h2>
  <div class="grid__item medium-up--one-third one-whole">
    {{ page.metafields.info.online_retailers_list1 }}
  </div>
  <div class="grid__item medium-up--one-third one-whole">
    {{ page.metafields.info.online_retailers_list2 }}
  </div>
  <div class="grid__item medium-up--one-third one-whole">
    {{ page.metafields.info.online_retailers_list3 }}
  </div>
</div>
