/*============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
==============================================================================*/
input,
textarea,
select {
  border: none;
  border-radius: 0;
  width: 100%;
  background:$color-body;
  font-family: $font-stack-body;
  font-size: 1.175em;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: .05em;
  outline:none;

  &:focus {
    border: none;
  }

  &[disabled] {
    cursor: default;
    background-color: $color-disabled;
    border-color: $color-disabled-border;
  }
}

textarea {
  min-height: 100px;
}


button{
  border: 1px solid #000;
  padding: 1.25em;
  background: $color-body;
  font-family: $font-stack-header;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .05em;
  -webkit-transition: all ease-in-out .15s;
  -moz-transition: all ease-in-out .15s;
  -ms-transition: all ease-in-out .15s;
  -o-transition: all ease-in-out .15s;
  transition: all ease-in-out .15s;
}

button:hover{
  background: #000;
  color: $color-body;
}

/*================ Custom select style ================*/
select {
  @include prefix(appearance, none, webkit moz spec);
  background-position: right center;
  background: {
    image: url($svg-select-icon);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 ================*/
  .ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select::-ms-expand {
  display: none;
}

/*================ Error styles ================*/
input,
select,
textarea {
  &.input-error {
    border-color: $color-error;
    background-color: $color-error-bg;
    color: $color-error;
  }
}


/*================ HIS UGLY CSS ================*/

.quickshop-root {
    display: none;
}

.quickshop-radio-button {
    display:none;
}

.quickshop-radio-button + .quickshop-radio-button-label {
    color: yellow;
    font-family:Arial, sans-serif;
    font-size:14px;
}

.quickshop-radio-button + .quickshop-radio-button-label .quickshop-radio-button-background {
    display:inline-block;
    width: 19px;
    height:19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor:pointer;
    border-radius:  50%;
}

.quickshop-radio-button + .quickshop-radio-button-label .quickshop-radio-button-background {
    margin: 5px;
}

input.quickshop-radio-button:checked + .quickshop-radio-button-label .quickshop-radio-button-background{
    box-sizing: content-box;
    margin: -2.5px 0px;
    border: 5px solid black;
}
