/*================ General layout styles ================*/

body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: 12px;
  letter-spacing: .07em;
  line-height: 1.675em;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'NewsGothicMTStd-Bold', 'Times New Roman', serif;
  font-weight: normal;
}

h1{
  font-size:3em;
}

p{
  max-width: 35em;
  margin: auto;
  font-size: 1em;
  line-height: 1.675em;
}

a{
  color: $color-night;
  text-decoration: none;
}

a:hover{
  color: $color-papaya;
}

a:visited{
}



.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.wrap{
  max-width: 1400px;
  margin: auto;
}

::-moz-selection { background: $color-papaya; }
::selection { background: $color-papaya; }


// ============================================================================= Header

.site-header{
  padding: 2em 0;
}

// ================================================ Logo
.logo{
  position: absolute;
  top:2.175em;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80px;
}

.h1-logo{
  margin:0;
}

.logo-svg{
  display: block;
}


// ================================================ Nav

.menu-mobile-label{
  display: none;
  font-size: 1em;
  font-family: $font-stack-header;
}

#menu-mobile-checkbox{
  display: none !important;
}



nav{
  font-size: 1em;
  font-family: $font-stack-header;
  text-transform: uppercase;
}

nav a{
  line-height: 3.5em;
}

// ================================================ Site Nav

.site-navigation{
  float: left;
}

.top-navigation{
  float: right;
}

.site-nav{
  position: relative;
  width:505px;
  padding:2em 0;
}

.site-nav li{
  position:relative;
	float:left;
	margin:0;
	padding:0;
}

.site-nav a:hover{
  // fill: $color-barley;
  // background: $color-barley;
}

.site-nav a{
  border-bottom: none;
  padding: 0 1em;
  display: block;
  // line-height: 3.5em;
}

.site-nav__submenu{
  background: $color-body;
  display: none;
  position: absolute;
  top: 2.75em;
  left: 0;
  width: 12em;
  padding: .275em 0 0;
}

.site-nav--has-submenu:hover .site-nav__submenu{
  display: block !important;
}

.site-nav__submenu li{
  float: none !important;
}

.site-nav__submenu li a:hover{
  background: $color-papaya;
  color: $color-night;
}


// ================================================ Top Nav

.top-nav{
  float: right;
  padding:2em 0;
}

.top-nav li{
  float: left;
}

.cart{
  padding: 0 1em;
}

.cart-item-count{
  // position: absolute;
  // top:0;
  // left:0;
}


.searchbar{
  position: relative;
}

.searchbar:hover .icon-search{
  width: 15em;
  fill: $color-papaya;
  color: $color-papaya;
}

.searchbar:hover .search-input::placeholder{
    color: $color-papaya;
}

.search-input {
    line-height: 1em;
    padding: 1.125em .75em .75em 1.75em;
    width: 7em;
    background-color: rgba(0,0,0,0);
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    z-index: 0;
}

.search-input:focus {
    outline: none;
    width: 15em;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    background-color: $color-body;
    color: $color-barley;
    z-index: 200;
}

.search-input::placeholder{
    color: $color-night;
}

.icon-search{
  position: absolute;
  top: .375em;
  width: 1.5em !important;
}

.icon-search:hover{
  fill:$color-night;
  color: $color-night;
}


// ================================================ Collection Pages

.collection-header{
  padding: 8em 0 10em;
}

.collection-title{
  text-transform: uppercase;
  text-align: center;
  margin: 0.67em 0 2em;
}

.collection-description{
  text-align: center;
  margin:auto;
}

.product-card-wrap{
  padding:3em;
}

.product-card{
  background: #fff;
  padding:2em 0 4em;
}

.product-card-title{
  text-align: center;
  font-family: $font-stack-header;
  font-size: 1.5em;
  margin: 2em 0 1em;
  line-height: 1.5em;
  height:2.5em;
}

.product-card-price{
  font-size: 1em;
  margin: 0;
  text-align: center;
}

#MainContent{
  margin: 0 0 10em;
}

.feat-collection-title{
  font-family: $font-stack-body;
  font-style: italic;
  font-size: 1.25em;
  text-align: center;
  margin: 4em 0 2em;
}

// ============================================================================= Who We Are

// ================================================ General
.who-we-are{
  text-align: center;
}

.who-we-are h1,
.who-we-are h2{
  text-transform: uppercase;
}

.who-we-are h2{
  font-size: 2em;
}

.who-we-are h3{
  font-family: $font-stack-body;
  font-style: italic;
  font-size: 1em;
  width:22em;
  margin:3em auto;
}

.who-we-are ul{
  margin: 3em 0 0;
  text-align: left;
  padding: 0;
  font-size: 1em;
}

.who-we-are li{
  padding: .5em 0;
}

.who-we-are li:before{
  color:$color-papaya;
  content: "♥ ";
}

.who-we-are img{
  display: block;
  width:100%;
}

.our-ingredients p,
.our-packaging p,
.giving-back p{
  padding: 1em;
}


// ================================================ Our Story
.our-story{
  background:url('who-we-are-our-story-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  -webkit-background-blend-mode: multiply;
  padding:19em 0;
  height:900px;
}

.about-us{
  padding:0 3em;
  max-width: 43em;
}

.about-us-img{
  display: block;
  width: 18em;
  margin: 3em auto;
}

// ================================================ Our Ingredients
.our-ingredients{
  margin: -2em 0 0;
  background:url('who-we-are-our-ingredients-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  padding:10em 0 5em;
  height:920px;
}


// ================================================ Our Packaging
.our-packaging{
  background:url('who-we-are-our-packaging-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  padding:5em 0;
  margin: -15em 0 0;
}


// ================================================ Giving Back
.giving-back{
  background:url('who-we-are-giving-back-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  padding:5em 0;
}

.giving-back img{
  position: relative;
  top:10em;
}

.giving-back-lists{
  width: 640px;
  margin: auto;
}

// ================================================ Footer
footer{
  background: $color-powder;
  padding:3em 0;
  // height: 350px;
}

footer h3{
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 0 2em;
}

footer h4{
  font-family: $font-stack-body;
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
  margin:0;
}

footer p{
  font-size: 1em;
  margin: 0em 0 2em;
}

footer li a{
  font-size: 1em;
  display: block;
  margin: 0 0 1em;
}

footer small{
  padding:5em 0 0;
  font-size: .75em;
  display: block;
  text-align: center;
}

footer input{
  background: $color-powder;
  border: 1px solid #000;
  padding:1em;
  margin: 0 0 1em;
  font-size: 1em;
}

footer input:focus{
  border: 1px solid #000;
}

.social{
  margin: 0 0 1em;
}

.social span{
  font-size: 1em;
  padding-left: .5em;
}

.sign_up{
  letter-spacing: .07em;
  font-family: $font-stack-header;
  text-transform: uppercase;
  cursor: pointer;
}

.sign_up:hover{
  background: $color-night;
  color: $color-powder;
}

// ================================================ Index Page
.blog-preview-content{
  width:100%;
  height:450px;
  overflow: hidden;
  margin: 7em 0;
  position: relative;
}

.blog-preview-title{
  font-family: $font-stack-header;
  font-size: 1.75em;
  text-align: center;
}

.blog-preview-body{
  margin: 1em auto 2em;
  text-align: center;
}

.blog-preview-img img{
  display: block;
  margin: auto;
}

.blog-preview-copy{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.blog-preview-content:nth-of-type(even) .blog-preview-copy{
  font-size: 1em;
  width:50%;
  float:left;
}

.blog-preview-content:nth-of-type(odd) .blog-preview-copy{
  font-size: 1em;
  width:50%;
  float:right;
}

.read-more{
  font-family: $font-stack-header;
  text-transform: uppercase;
  font-size: .875em;
  text-align: center;
}


// ================================================ Product Page

.product{
  padding: 5em 0;
  text-align: center;
}

.product-title{
  line-height: 1.2em;
  margin: 0.67em 0 1em
}

.product-details{
  // background-color: $color-papaya;
  margin:5em 0;
  padding:5em 0;
}

.product-details h2{
  font-size: 1.5em;
  letter-spacing: .1em;
  text-align: center;
}

.product-details p{
  padding: 0 2em;
}

.product-details .grid__item{
  padding: 0 4.5em;
}


// ==================== Quantity and Type dropdown
.product-selection{
  margin:4em 0 2em;
}

.product-size-quantity{
  text-align: center;
  border: 1px solid #000;
  padding: 1em;
  line-height: 1em;
}

.product-size-quantity:nth-of-type(2){
  margin-left:-1px;
}

.scent-selector{
  text-transform: uppercase !important;
}

.data-price-wrapper{
  font-family: $font-stack-header;
  font-size: 2em;
  margin: 2em 0 1.5em;
}




// ==================== Number buttons


#Quantity{
  height:16px;
}

// ==================== Product Image

.product-images{
  position: relative;
}

.product-image-wrap{
  background: #fff;
}

.product-imagewarp img{
  display: block;
  margin: auto;
  width:100%;
  max-width: 480px;
}

.product-image-list{
  position: relative;
  transform: translateY(10%);
  width:120px;
  padding: 0 1em;
}

.product-image-list li{
  padding: 1em 0;
}
// ================================================ Blog




// ================================================ MQ's

@media screen and (max-width:850px){
  .site-nav{
    width:100%;
  }

  .menu-mobile-wrap{
    padding:2.75em 1em;
  }

  .menu-mobile-label{
    display: block !important;
  }

  .menu{
    display: none;
  }

  #menu-mobile-checkbox:checked + .menu{
    display: block !important;
  }

  .wrap{
    padding:0 1em;
  }

  .medium-up--five-eighths,
  .medium-up--five-eighths{
    width:50% !important;
  }
}
