/*================ General layout styles ================*/

body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  font-size: 12px;
  letter-spacing: .07em;
  line-height: 1.675em;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'NewsGothicMTStd-Bold', 'Times New Roman', serif;
  font-weight: normal;
  text-align: center;
}

h1{
  font-size:3em;
  line-height: 1.375em;
}

p{
  max-width: 35em;
  margin: auto;
  font-size: 1em;
  line-height: 1.675em;
}

a{
  color: $color-night;
  border-bottom: 1px solid $color-night;
  text-decoration: none;
}

a:hover{
  color: $color-papaya;
  border-bottom: 1px solid $color-papaya;
}

a:visited{
}

#MainContent{
  padding: 0 0 14em;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.wrap{
  max-width: 1400px;
  margin: auto;
  position: relative;
}

::-moz-selection { background: $color-papaya; }
::selection { background: $color-papaya; }


// ============================================================================= Header

.site-header{
  // position: fixed;
  // z-index: 3;
  width: 100%;
  // background:url('index-bkgd-1.svg') no-repeat center top fixed $color-body;
  // background-size:cover;
  padding: 1em 0;
}

// ================================================ Logo
.logo{
  position: absolute;
  top:1.175em;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80px;
}

.logo a{
  border-bottom:none;
}

.h1-logo{
  margin:0;
}

.logo-svg{
  display: block;
}


// ================================================ Nav

.menu-mobile-label{
  display: none;
  font-size: 1em;
  font-family: $font-stack-header;
}

#menu-mobile-checkbox{
  text-align: left;
  display: none !important;
}

nav{
  font-size: 1em;
  font-family: $font-stack-header;
  text-transform: uppercase;
}

nav a,
nav a:hover{
  border-bottom:none;
  line-height: 3.5em;
}

// ================================================ Site Nav

.site-navigation{
  float: left;
}

.top-navigation{
  float: right;
}

.site-nav{
  position: relative;
  width:527px;
  padding:1em 0;
}

.site-nav li{
  position:relative;
	float:left;
	margin:0;
	padding:0;
}

.site-nav a:hover{
  // fill: $color-barley;
  // background: $color-barley;
}

.site-nav a{
  border-bottom: none;
  padding: 0 1em;
  display: block;
  // line-height: 3.5em;
}

.site-nav__submenu{
  background: $color-body;
  display: none;
  position: absolute;
  top: 3em;
  left: 0;
  width: 15.75em;
  padding: 0;
  z-index: 100;
}

.site-nav--has-submenu:hover .site-nav__submenu{
  display: block !important;
}

.site-nav__submenu li{
  width:100%;
  text-align: left;
}

.site-nav__submenu li a:hover{
  background: $color-papaya;
  color: $color-night;
}


// ================================================ Top Nav

.top-nav{
  float: right;
  padding:1em 0;
  margin: 0.75em;
}

.top-nav li{
  float: left;
}

.cart-icon{
  padding: 0 1em;
}

.searchbar{
  position: relative;
}

.searchbar:hover .icon-search{
  width: 15em;
  fill: $color-papaya;
  color: $color-papaya;
}

.searchbar:hover .search-input::placeholder{
    color: $color-papaya;
}

.search-input {
    font-family: $font-stack-header;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    line-height: 1em;
    padding: 1.125em .75em .75em 2em;
    width: 7.25em;
    background-color: rgba(0,0,0,0);
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    z-index: 0;
}

.search-input:focus {
    outline: none;
    width: 15em;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    background-color: $color-body;
    color: $color-papaya;
    z-index: 200;
}

.search-input::placeholder{
    color: $color-night;
}

.icon-search{
  position: absolute;
  top: .375em;
  width: 1.5em !important;
}

.icon-search:hover{
  fill:$color-night;
  color: $color-night;
}

// ================================================ Search Results


.template-search{
  background:url('index-bkgd-1.svg') no-repeat center top fixed;
  background-size:cover;
}

.search-results{
  text-align: center;
  width:50%;
  margin:2em auto;
  padding: 2em 2em 4em;
}

.search-results h2{
  font-size: 2em;
}

.pagination{
  text-align: center;
}

// ================================================ Collection Pages

.collection-header{
  padding: 3em 0 4em;
}

.collection-title{
  text-transform: uppercase;
  text-align: center;
  // margin: 0.67em 0 2em;
}

.collection-title a{
  border-bottom: none;
}

.collection-description{
  font-style: italic;
  font-size: 1.25em;
  text-align: center;
  margin:auto;
}

.product-card-wrap{
  padding:3em;
}

.product-card{
  background: #fff;
  padding:0 0 4em;
}

.product-card img{
  display: block;
  margin: auto;
}

.product-card-title{
  text-align: center;
  font-family: $font-stack-header;
  font-size: 1.5em;
  margin: 2em 0 1em;
  line-height: 1.5em;
  height:2.5em;
}

.product-card-price{
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

// #MainContent{
//   padding: 0 0 10em;
// }

.feat-collection-title{
  font-family: $font-stack-body;
  font-style: italic;
  font-size: 1.25em;
  text-align: center;
  margin: 4em 0 2em;
}

#body-care{
  background:url('body-page.svg') no-repeat center top fixed;
  background-size:cover;
}

#deodorant{
  background:url('deo-page-3.svg') no-repeat center top fixed;
  background-size:cover;
}

#facial-care{
  background:url('face-page.svg') no-repeat center top fixed;
  background-size:cover;
}

#gifts-kits{
  background:url('kits-page.svg') no-repeat center top fixed;
  background-size:cover;
}

#soap{
  background:url('soap-page.svg') no-repeat center top fixed;
  background-size:cover;
}





// ============================================================================= Who We Are

// ================================================ General
.who-we-are{
  text-align: center;
}

.who-we-are h1,
.who-we-are h2{
  text-transform: uppercase;
}

.who-we-are h2{
  font-size: 2em;
}

.who-we-are h3{
  font-family: $font-stack-body;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.6em;
  width:21.5em;
  margin:3em auto;
}

.who-we-are ul{
  margin: 3em 0 0;
  text-align: left;
  padding: 0;
  font-size: 1em;
}

.who-we-are li{
  padding: .5em 0;
}

.who-we-are li:before{
  color:$color-papaya;
  content: "♥ ";
}

.who-we-are img{
  display: block;
  width:100%;
}

.our-ingredients p,
.our-packaging p,
.giving-back p{
  padding: 1em;
}

.shop-announcement{
  background: url('announcement-2.svg') no-repeat center center scroll;
  width: 250px;
  height: 250px;
  right: 20px;
  top: 500px;
  z-index: 0;
  position: absolute;
  font-size: 1em;
  color: #000;
  text-align: center;
}

.shop-announcement p{
  width: 228px;
  padding: 7.25em 0px 0 9.75em;
}

// ================================================ Customer

#create-account,
#account,
#addresses{
  background:url('index-bkgd-1.svg') no-repeat center top fixed;
  background-size:cover;
}

#FirstName,
#LastName,
#Email,
#CreatePassword,
#CustomerEmail,
#CustomerPassword,
#CustomerPasswordConfirmation,
#RecoverEmail{
  width:500px;
  margin:auto;
  display: block;
  border: 1px solid #000;
  padding: 1em;
}

#CustomerPassword,
#CustomerPasswordConfirmation,
#CreatePassword{
  margin:-1px auto 0;
}

#LastName,
#Email{
  margin:-1px auto 0;
}

#RecoverPasswordForm h2{
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1em;
}

#RecoverPasswordForm p{
  text-align: center;
  margin: 1em auto 2em;
}

#RecoverEmail{
  margin:1em auto 3em;
}

#account-submit-btn{
  margin: 4em auto;
}

.account-wrap{
  width:100%;
  max-width: 901px;
  margin: 3em auto;
  padding:2em 2em 4em;
  background: #fff;
}

.account-wrap p{
  margin: 0;
}

.cart-wrap h3{
  text-align: left;
  margin: 2em 0 0;
}

.cart-wrap h4{
  text-align: left;
}

.cart-wrap p{
  width: 100%;
  margin: 0 0 2em auto;
}

.cart-wrap input,
.cart-wrap select{
  text-align: left;
  // margin:0 0 1em;
  padding:.5em;
}

.cart-wrap input[type="submit"]{
  text-align: center;
  margin:0 auto;
  padding:1.25em;
}

.cart-wrap select{
  background: $color-body;
}

.table-width{
  width: 100%;
  max-width: 563px;
  padding:0 1em;
  margin:auto;
}

.checkbox input[type="checkbox"]{
  border:1px solid #000;
}

.address-new-toggle,
.address-edit-toggle,
.address-delete{
  background: #fff;
}

.address-new-toggle{
  border: none;
  border-bottom: 1px solid #000;
  padding: .5em;
  text-align: center;
}

.default-address{
  font-family: $font-stack-header;
}

.order-history{
  margin: 0 auto 3em;
}

.order-history th,
.order-history td{
  padding: 1em;
}

.create-account:nth-of-type(1){
  text-align: center;
  margin:5em auto 0;
}

.create-account{
  text-align: center;
  margin:1em auto 0;
}

.errors li{
  text-align: center;
  color: $color-papaya;
}

.logout{
  text-align: center;
}

// ================================================ Our Story
.our-story{
  background:url('who-we-are-our-story-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  -webkit-background-blend-mode: multiply;
  padding:16em 1em;
  height:900px;
  margin:-7em auto 0;
}

.about-us{
  padding:0 3em;
  max-width: 43em;
  font-size: 1.25em;
}

.about-us-img{
  display: block;
  width: 18em;
  margin: 3em auto;
}

// ================================================ Our Ingredients
.our-ingredients{
  margin: -2em 0 0;
  background:url('who-we-are-our-ingredients-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  padding:10em 0 5em;
  height:840px;
}


// ================================================ Our Packaging
.our-packaging{
  background:url('who-we-are-our-packaging-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  padding:5em 0;
  margin: -15em 0 0;
}


// ================================================ Giving Back
.giving-back{
  background:url('who-we-are-giving-back-bkgd.svg') no-repeat center center scroll;
  background-size:cover;
  padding:5em 0;
}

.giving-back img{
  position: relative;
  top:10em;
}

.giving-back-lists{
  width: 640px;
  margin: auto;
}

// ================================================ Footer
footer{
  // margin:10em 0 0;
  background: $color-powder;
  padding:3em 0;
  // height: 350px;
}

footer h3{
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 0 2em;
}

footer h4{
  font-family: $font-stack-body;
  font-size: 1em;
  text-transform: lowercase;
  font-style: italic;
  margin:0;
}

footer p{
  text-align: center;
  font-size: 1em;
  margin: 0em auto 2em;
}

footer li{
  text-align: center;
    margin: 0 0 1em;
}

footer li a{
  font-size: 1em;

}

footer small{
  padding:5em 0 0;
  font-size: .75em;
  display: block;
  text-align: center;
}

footer input{
  background: $color-powder;
  border: 1px solid #000;
  padding:1em;
  margin: 0 0 1em;
  font-size: 1em;
}

footer input:focus{
  border: 1px solid #000;
}

.social{
  margin: 0 0 2em;
}

.social a{
  border-bottom: none;
}

.social span{
  font-size: 1em;
  padding-left: .5em;
}

.sign_up{
  letter-spacing: .07em;
  font-family: $font-stack-header;
  text-transform: uppercase;
  cursor: pointer;
}

.sign_up:hover{
  background: $color-night;
  color: $color-powder;
}

// ================================================ Index Page

#made-with-spirit-meow-meow-tweet{
  background:url('index-bkgd-1.svg') no-repeat center top fixed;
  background-size:cover;
}

.banner{
  margin:auto;
  max-width: 1400px;
}

.banner img{
  display: block;
  width: 100%;
  margin: auto;
}

.banner a{
  border-bottom: none;
}

.blog-preview-content{
  width:100%;
  height:450px;
  overflow: hidden;
  margin: 7em 0;
  position: relative;
}

.blog-preview-title{
  font-family: $font-stack-header;
  font-size: 1.75em;
  text-align: center;
  line-height: 1.25em;
}

.blog-preview-body{
  margin: 1em auto 2em;
  text-align: center;
}

.blog-preview-img img{
  display: block;
  margin: auto;
}

.blog-preview-copy{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.blog-preview-content:nth-of-type(even) .blog-preview-copy{
  font-size: 1em;
  width:50%;
  float:left;
}


.blog-preview-content:nth-of-type(even) .blog-preview-img{
  font-size: 1em;
  width:50%;
  float:right;
}

.blog-preview-content:nth-of-type(odd) .blog-preview-copy{
  font-size: 1em;
  width:50%;
  float:right;
}

.blog-preview-content:nth-of-type(odd) .blog-preview-img{
  font-size: 1em;
  width:50%;
  float:left;
}

.read-more{
  font-family: $font-stack-header;
  text-transform: uppercase;
  font-size: .875em;
  text-align: center;
}


// ================================================ Product Page

.product{
  padding: 5em 0;
  text-align: center;
}

.grid__item-right {
    float: right !important;
    padding: 0 15px;
    // width: 100%;
}

.product-title{
  line-height: 1.2em;
  margin: 0.67em 0 1em
}

.product-details{
  // background-color: $color-papaya;
  margin:5em 0;
  padding:5em 0;
}

.product-details h2{
  font-size: 1.5em;
  letter-spacing: .1em;
  text-align: center;
}

.product-details p,
.product-details ul{
  max-width: 35em;
  padding: 0 2em;
  margin: auto;
}

.product-details li{
  margin:0 0 1em;
}

// .product-details .grid__item{
//   padding: 0 4.5em;
// }


// ==================== Quantity and Type dropdown
.product-selection{
  margin:4em 0 2em;
}

.product-size-quantity{
  text-align: center;
  border: 1px solid #000;
  padding: 1em;
  line-height: 1em;
}

.product-size-quantity:nth-of-type(2){
  margin-left:-1px;
}

.scent-selector{
  text-transform: uppercase !important;
}

.data-price-wrapper{
  font-family: $font-stack-header;
  font-size: 2em;
  margin: 2em 0 1.5em;
}

.discount-flag{
  font-family: $font-stack-body;
  font-style: italic;
  font-size: 1em;
  background-color: #ffeee6;
  color: $color-papaya;
  margin: 2em 0;
  padding: .5em 0;
  text-align: center;
}

// ==================== Number buttons


#Quantity{
  height:16px;
}

// ==================== Product Image

.product-images{
  position: relative;
}

.product-image-wrap{
  background: #fff;
}

.product-imagewarp img{
  display: block;
  margin: auto;
  width:100%;
  max-width: 480px;
}

.product-image-list{
  position: relative;
  transform: translateY(10%);
  width:120px;
  padding: 0 1em;
}

.product-image-list li{
  padding: 1em 0;
}

.product-image-list li a{
  border-bottom: none;
}

// ================================================ General Pages
.page-hero{
  width:20em;
  display: block;
  margin:auto;
}

// ================================================ FAQ Page

#etc{
  background:url('faq-page.svg') no-repeat center top fixed;
  background-size:cover;
  text-align: center;
}

.faq-page header p{
  font-style: italic;
  width:30em;
}

.faq-page img{
  width:40em;
}

// ================================================ Retailers Page

#where-to-buy{
  background:url('retailers-page.svg') no-repeat center top fixed;
  background-size:cover;
}

.retailers-page h2{
  text-transform: uppercase;
}

.store-locator{
  width:92%;
  padding:2%;
  background: #fff;
  margin:auto;
}

.online-retailers{
  text-align: center;
}

.online-retailers img{
    padding:10em 0 4em;
    width:14em;
}

.retailers-page .page-hero{
  width:28em;
}

.online-retailers h2{
  padding: 0 0 1em;
}

.online-retailers ul{
  padding: 0 0 1em;
}

.online-retailers li{
  padding: .5em 0;
}

// ================================================ Contact Page

#get-in-touch{
  background:url('contact-page-1.svg') no-repeat center top fixed;
  background-size:cover;
  text-align: center;
}

.contact-page h1{
  text-transform: uppercase;
  text-align: center;
  margin: 0.67em 0 1em;
}

.contact-page h2{
  text-transform: uppercase;
  margin: 2em 0 .5em;
}

// ================================================ Buzz Page

#buzz-of-the-bees{
  background:url('buzz-page-3.svg') no-repeat center top fixed;
  background-size:cover;
}

.buzz{
  text-align: center;
  width:80%;
  margin:auto;
}

.buzz-page h1{
      margin: 0.67em 0 1em;
}

.buzz-page p{
  text-align: center;
  font-style: italic;
   margin:2em auto;
}

.buzz li{
  width:25%;
  float:left;
  padding:3em;
  height:330px;
}

.buzz li a{
  border-bottom: none;
}

.buzz-page header img{
  position: static;
  top:0;
  transform:none;
  width:22em;
  display: block;
  margin:auto;
}

.buzz-page img{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

// ================================================ Blog

.template-blog{
  background:url('index-bkgd-1.svg') no-repeat center top fixed;
  background-size:cover;
}

.blog-categories{
  width:80%;
  margin:auto;
  text-align: center;
  padding:10em 0 0;
}

.blog-header{
  font-size: 2em;
  text-transform: uppercase;
}

.blog-title{
  background: url("blog.svg") no-repeat center center scroll;
  font-size: 1.5em;
  padding: 2.875em 0 0;
  height: 7em;
}

.blog-title a{
  border-bottom: none;
}

.blog-tag-title{
  font-size: 1.5em;
  padding: 1.5em 0 .5em;
  text-transform: capitalize;
}

.blog-feed{
  margin: -1em 0 0;
}

.blog-tags{
  display: inline-block;
  margin: .75em;
}

.blog-hero{
  position: absolute;
  top: 12em;
  left: 50%;
  transform: translateX(-50%);
  width: 30em;
  display: block;
  margin: auto;
}

.blog-article{
  width: 70%;
  margin:auto;
  text-align: center;
  padding: 2em 0 0;
}

.blog-article p{
  max-width: 45em;
}

.page{
  margin: 0 1em;
  font-family: $font-stack-header;
}

.page a,
.next a{
  border-bottom: none;
}

.page.current{
  color: $color-papaya;
}

.next{
  margin: 1em 0 0;
  display: block;
}

// ================================================ Cart

#your-shopping-cart{
  background:url('index-bkgd-1.svg') no-repeat center top fixed;
  background-size:cover;
}

.cart-wrap{
  width:100%;
  max-width: 901px;
  margin: 3em auto;
  padding:2em 2em 4em;
  background: #fff;
}

.cart{
  margin: auto;
}

.cart input{
  background: #fff;
  font-size: 1em;
  text-align: center;
}

.cart thead th{
  padding: 1em 0;
}

.cart-row a{
  border-bottom: none;
}

.cart-row img{
  display: block;
  margin-left: auto;
  padding: 0 2em 0 0;
}

.cart-product-title{
  font-family: $font-stack-header;
}

.cart-row td{
  padding: 0 0 4em;
}

.cart-remove{
  font-family: Arial, sans-serif;
  padding: 0 6em 0;
  color: $color-papaya;
}

.cart-empty{
  text-align: center;
  padding:3em 0;
}

.note-to-seller{
  background: #fff;
  padding:2em;
}

.note-to-seller textarea{
  background: #fff;
  border: 1px solid $color-night;
  text-align: left;
  padding:1em;
}

.note-to-seller textarea:focus{
  border: 1px solid $color-night;
}

.bold{
  font-family: $font-stack-header;
}

.subtotal{
  text-align: right;
  font-size: 1.5em;
  font-family: $font-stack-header;
  padding-right: 5.5em;
}

.subtotal-title{
  padding-right:1.75em;
}

.checkout-btn{
  display: block;
  margin: auto;
}


// ================================================ MQ's

@media screen and (max-width:1120px){
  .buzz{
    width:100%;
  }
  .buzz li{
    width:33.33%;
  }
}

@media screen and (max-width:990px){

  // Product Page

  .product{
    padding: 0 0 5em;
  }

  .grid__item-right {
      float: none !important;
  }

  .product-image-wrap{
    width:50%;
    margin:auto;
  }

  .product-image-list{
    display: none;
  }

  .product-size-quantity:nth-of-type(2) {
    margin-left: auto;
    margin-top: -1px;
  }

  .data-price-wrapper{
    margin:1em 0;
  }

  .product-details .grid__item {
    padding: 2em 1em;
  }

  .product-size-quantity{
    margin-left: auto;
    margin-right: auto;
    float: none;
    max-width: 35em;
  }

  .discount-flag{
    max-width: 35em;
    margin: 2em auto;
  }

  .blog-preview-content {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 0;
    position: static;
  }

  .blog-preview-content:nth-of-type(even) .blog-preview-copy,
    .blog-preview-content:nth-of-type(odd) .blog-preview-copy,
      .blog-preview-content:nth-of-type(even) .blog-preview-img,
        .blog-preview-content:nth-of-type(odd) .blog-preview-img{
    width:100%;
    float:none;
  }

  .blog-preview-content:nth-of-type(even) .blog-preview-img,
    .blog-preview-content:nth-of-type(odd) .blog-preview-img{
      margin: 2em auto;
  }

  .blog-preview-copy {
    position: static;
    top: 0;
    transform: none;
  }

  .blog-article{
    width: 100%;
  }

  .about-us-img{
    width: 36em;
  }

  .collection-header{
    padding: 1em 0 0;
  }

  .page-hero{
    width:50%;
    padding:3em 0 0;
  }

  .who-we-are img {
    margin: 2em auto;
    width: 50%;
  }

  #MainContent{
    padding: 0 0 5em;
  }

  .online-retailers img {
    padding: 5em 0 0;
  }

  .cart-wrap p{
      margin-left: auto;
  }

  .subtotal{
    padding-right: 1em;
  }

  .responsive-table td::before {
    position: relative;
    top: 50%;
  }


}

@media screen and (max-width:850px){
  .buzz li{
    width:50%;
  }

  .site-nav{
    width:100%;
  }

  .menu-mobile-wrap{
    text-align: left;
    padding:2.75em 1em;
  }

  .menu-mobile-label{
    display: block !important;
    padding: 0 1em;
  }

  .menu{
    display: none;
  }

  .site-navigation,
  .top-navigation,
  .top-nav,
  .site-nav li,
  .top-nav li{
    float: none;
  }

  .site-nav,
  .top-nav{
    padding:0;
    margin: 0;
  }

  .top-nav li{
    padding: 0 1em;
  }

  #menu-mobile-checkbox:checked + .menu{
    display: block !important;
  }

  .site-nav__submenu {
    position: static;
    top: 0;
    width: 100%;
}

  .wrap{
    padding:0 1em;
  }

  .medium-up--five-eighths,
  .medium-up--five-eighths{
    width:50% !important;
  }

  .product-image-wrap{
    width:90%;
  }

  .our-ingredients,
  .giving-back{
    padding: 2em 0 0;
    margin:0 auto;
  }

  .our-packaging{
    padding:0;
  }

  .our-ingredients{
    height: auto;
  }

  .giving-back-lists {
    width: 35em;
  }

  .giving-back img{
    position: static;
    top:0;
  }

  .grid__item{
    padding:1em 15px;
  }

  .cart-wrap{
    padding:1em;
  }

  .cart-remove {
    padding: 0 2em 0;
  }

  .note-to-seller{
    padding:1em;
  }

  .page-hero{
    width:90%;
    padding:1em 0 0;
  }
}

@media screen and (max-width:600px){

  p,
  .who-we-are ul,
  .online-retailers li,
  .product-details li{
    font-size: 1.25em;
    line-height: 1.675em;
  }

  .who-we-are img {
    margin: 2em auto;
    width: 70%;
  }

  .collection-header {
    padding: 1em 0 2em;
  }
  .product-image-wrap{
    width:100%;
  }

  .grid__item-right {
      padding:0;
  }

  .grid__item{
    padding: 0;
  }

  input,
  select{
    padding: 1em;
  }

  .buzz li{
    width:100%;
    height: auto;
  }

  .about-us-img {
    width: 100%;
  }

  .buzz-page img {
    position: static;
    top: 0;
    transform: none;
  }

  .our-story{
    height: 1090px;
  }

  .about-us{
    max-width: 35em;
    padding: 0 1em;
  }

  .who-we-are h3{
    max-width: 35em;
  }

  #FirstName,
  #LastName,
  #Email,
  #CreatePassword,
  #CustomerEmail,
  #CustomerPassword,
  #CustomerPasswordConfirmation,
  #RecoverEmail{
    width:100%;
  }

  #Quantity{
    height: auto;
  }

  .giving-back-lists {
    width: 100%;
  }
}


@media screen and (max-width:400px){

  .our-story {
    height: 1200px;
    padding: 18em 1em;
  }
  .about-us{
    max-width: 100%;
    padding: 0 1em;
  }

  .who-we-are h3{
    max-width: 100%;
  }
}
