/*================ General layout styles ================*/

body,
html {
  background-color: $color-body;
  font-family: $font-stack-body;
  letter-spacing: .05em;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'NewsGothicMTStd-Bold', 'Times New Roman', serif;
  font-weight: normal;
}

p{
  max-width: 35em;
  margin: auto;
  font-size: 1em;
  line-height: 1.6em;
}

a{
  color: $color-night;
  text-decoration: none;
}

a:hover{
  color: $color-barley;
}

a:visited{
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.wrap{
  max-width: 1400px;
  margin: auto;
}

::-moz-selection { background: $color-papaya; }
::selection { background: $color-papaya; }


// ============================================================================= Header

// ================================================ Logo
.logo{
  position: absolute;
  top:.5em;
  left:50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80px;
}

.h1-logo{
  margin:0;
}

.logo-svg{
  display: block;


}


// ================================================ Nav

.menu-mobile-label{
  display: none;
  font-size: .75em;
  font-family: $font-stack-header;
}

#menu-mobile-checkbox{
  display: none !important;
}



nav{
  font-size: .75em;
  font-family: $font-stack-header;
  text-transform: uppercase;
}

nav a{
  line-height: 3.5em;
}

// ================================================ Site Nav

.site-navigation{
  float: left;
}

.top-navigation{
  float: right;
}

.site-nav{
  position: relative;
  width:505px;
  padding:2em 0;
}

.site-nav li{
  position:relative;
	float:left;
	margin:0;
	padding:0;
}

.site-nav a:hover{
  // fill: $color-barley;
  // background: $color-barley;
}

.site-nav a{
  border-bottom: none;
  padding: 0 1em;
  display: block;
  // line-height: 3.5em;
}

.site-nav__submenu{
  background: $color-body;
  display: none;
  position: absolute;
  top: 2.75em;
  left: 0;
  width: 11em;
  padding: .25em 0;
}

.site-nav--has-submenu:hover .site-nav__submenu{
  display: block !important;
}

.site-nav__submenu li{
  float: none !important;
}

.site-nav__submenu li a:hover{
  background: $color-barley;
  color: $color-night;
}


// ================================================ Top Nav

.top-nav{
  float: right;
  padding:2em 0;
}

.top-nav li{
  float: left;
}

.cart{
  padding: 0 1em;
}

.cart-item-count{
  // position: absolute;
  // top:0;
  // left:0;
}


.searchbar{
  position: relative;
}

.searchbar:hover .icon-search{
  width: 15em;
  fill: $color-barley;
  color: $color-barley;
}

.searchbar:hover .search-input::placeholder{
    color: $color-barley;
}

.search-input {
    line-height: 1em;
    padding: 1.125em .75em .75em 1.75em;
    width: 7em;
    background-color: rgba(0,0,0,0);
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    z-index: 0;
}

.search-input:focus {
    outline: none;
    width: 15em;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    background-color: $color-body;
    color: $color-barley;
    z-index: 200;
}

.search-input::placeholder{
    color: $color-night;
}

.icon-search{
  position: absolute;
  top: .375em;
  width: 1.5em !important;
}

.icon-search:hover{
  fill:$color-night;
  color: $color-night;
}



// ================================================ Collection Pages



.collection-header{
  padding: 8em 0 10em;
}

.collection-title{
  text-transform: uppercase;
  text-align: center;
  margin: 0.67em 0 1em;
}

.collection-description{
  text-align: center;
  margin:auto;

}

.collection-product-title{
  font-family: $font-stack-header;
  margin: 0;
}

.collection-product-price{
  margin: 0;
}

#MainContent{
  margin: 0 0 10em;
}

.feat-collection-title{
  font-family: $font-stack-body;
  font-style: italic;
  font-size: 1em;
  text-align: center;
  margin: 2em 0 3em;
}



// ================================================ Footer
footer{
  background: $color-powder;
  padding:3em 0;
  // height: 350px;
}

footer h3{
  font-size: .75em;
  text-transform: uppercase;
  margin: 0 0 2em;
}

footer h4{
  font-family: $font-stack-body;
  font-size: .75em;
  text-transform: lowercase;
  font-style: italic;
  margin:0;
}

footer p{
  font-size: .75em;
  margin: 0em 0 2em;
}

footer li a{
  font-size: .75em;
  display: block;
  margin: 0 0 1em;
}

footer small{
  padding:5em 0 0;
  font-size: .75em;
  display: block;
  text-align: center;
}

.social{
  margin: 0 0 1em;
}

.social span{
  font-size: 1em;
  padding-left: .5em;
}

// ================================================ Index Page



// ================================================ Product Page

.product{
  padding: 5em 0;
  text-align: center;
}

.product-title{
  line-height: 1.2em;
  margin: 0.67em 0 1em
}

.product-details{
  background-color: $color-papaya;
  margin:5em 0;
  padding:5em 0;
}

.product-details h2{
  font-size: 1em;
  letter-spacing: .1em;
  text-align: center;
}

.product-details p{
  padding: 0 2em;
}

.data-price-wrapper{
  font-family: $font-stack-header;
  font-size: 1.25em;
}

// ==================== Selector dropdown

.selector-wrapper{
  width:50%;
}

// ==================== Number buttons


#Quantity{
  width:80px;
  margin: 0 0 1rem;
  border: none;
  padding: 1em;
  font-family: $font-stack-header;
  font-size:.75em;
}

// ==================== Product Image

.product-image-solo{
  display: block;
  margin: auto;
}

.product-image-multiple{
  display: block;
  float: left;
}

.product-image-list{
  float: left;
  margin: 0 0 0 1.5em;
  width: 80px;
}

// ================================================ MQ's

@media screen and (max-width:850px){
  .site-nav{
    width:100%;
  }

  .menu-mobile-wrap{
    padding:2.75em 1em;
  }

  .menu-mobile-label{
    display: block !important;
  }

  .menu{
    display: none;
  }

  #menu-mobile-checkbox:checked + .menu{
    display: block !important;
  }

  .wrap{
    padding:0 1em;
  }
}
